.signInSpaceDiv {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .signInTitleDiv {

    .signInTitleCTA {
      @include retroica_custom_font;
      text-align: center;
      font-size: 3.7rem;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    .signInTitleLogo {
      min-width: 20rem;
      width: 30rem;
      max-width: 458px;
    }
  }

  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 480px;

    .passwordInputContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      gap: 2px;
      transition: all 1s;

      .passwordStrengthMeter {
        height: 10px;
        width: 80%;
        background-color: aquamarine;
        border-radius: 20px;
      }

    }

    input {
      height: 50px;
      box-sizing: border-box;
      width: 100%;
      margin-top: 15px;
      border-radius: 8px;
      @include montserrat_semibold_font;
      font-size: 1.5rem;
      color: #696969;
      background-color: rgba(202, 202, 202, 0.5);
      padding-left: 30px;
      padding-right: 30px;
      box-shadow: none;
      border: none;

      &::placeholder {
        opacity: 0.5;
      }
    }

    button {
      margin-top: 15px;
      width: 15rem;
      height: 3.5rem;
      background-color: rgba($color: #000000, $alpha: 0);
      border: 1px solid #1588CC;
      box-sizing: border-box;
      border-radius: 11px;
      @include montserrat_semibold_font;
      font-size: 1.7rem;
      color: #1588CC;
    }
  }
}