.infospaceDiv {
  position: absolute;
  height: 100%;
  width: 50vw;
  left: 0;
  display: grid;
  grid-template-areas: 
    "welcomeArea"
    "callToActionArea"
  ;
  grid-template-rows: 4fr 1fr;
  @include primary_blue_gradient_bg;
  grid-area: infoSection;
  z-index: 2;

  .welcomeSection {
    grid-area: "welcomeArea";
    display: flex;
    flex-direction: column;
    justify-content: center;

    .welcomePara {
      @include retroica_custom_font;
      text-align: center;
      font-size: 4.4rem;
      color: #fff;
    }
    
    .welcomeDescriptionPara {
      @include retroica_custom_font;
      text-align: center;
      font-size: 1.4rem;
      color: #fff;
    }
  }

  .authCallToActionSection {
    grid-area: "callToActionArea";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .auth_CTA_question_para {
      @include retroica_custom_font;
      text-align: center;
      font-size: 1.1rem;
      color: #fff;
    }

    .auth_CTA_button {
      width: 15rem;
      height: 3.5rem;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 11px;
      @include montserrat_semibold_font;
      font-size: 1.7rem;
      color: #fff;
      background-color: rgba($color: #000000, $alpha: 0);  
    }
  }
}